<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>762</integer>
    <key>capHeight</key>
    <integer>692</integer>
    <key>copyright</key>
    <string>Copyright 2011 The Bitter Project Authors (https://github.com/solmatas/BitterPro)</string>
    <key>descender</key>
    <integer>-230</integer>
    <key>familyName</key>
    <string>Bitter</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>sSw4JlkaCv</string>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>389</integer>
        <key>y</key>
        <integer>346</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>rQoSzSHqOr</string>
        <key>x</key>
        <integer>57</integer>
        <key>y</key>
        <integer>99</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>180</integer>
        <key>identifier</key>
        <string>RoanVqyq5b</string>
        <key>x</key>
        <integer>408</integer>
        <key>y</key>
        <integer>522</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>-9</integer>
    <key>openTypeHeadCreated</key>
    <string>2020/02/14 19:44:21</string>
    <key>openTypeHheaAscender</key>
    <integer>935</integer>
    <key>openTypeHheaDescender</key>
    <integer>-265</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Sol Matas, and Bitter project Authors</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://www.solmatas.com/</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Sol Matas</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://www.solmatas.com/</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>935</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-265</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1255</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>376</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-6</integer>
      <integer>0</integer>
      <integer>522</integer>
      <integer>528</integer>
      <integer>568</integer>
      <integer>574</integer>
      <integer>692</integer>
      <integer>698</integer>
      <integer>762</integer>
      <integer>768</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-236</integer>
      <integer>-230</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>20</integer>
      <integer>15</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>20</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Bitter Thin</string>
    <key>styleMapStyleName</key>
    <string>italic</string>
    <key>styleName</key>
    <string>Thin Italic</string>
    <key>trademark</key>
    <string>Bitter is a trademark of Sol Matas (www.solmatas.com).</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>1</integer>
    <key>xHeight</key>
    <integer>522</integer>
  </dict>
</plist>
