<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Jul 3 17, 15:15</string>
      <string>glyphs.J_ul 3 17, 15_15</string>
    </array>
    <array>
      <string>Jul 3 17, 15:15.background</string>
      <string>glyphs.J_ul 3 17, 15_15.background</string>
    </array>
    <array>
      <string>Jul 3 17, 17:54</string>
      <string>glyphs.J_ul 3 17, 17_54</string>
    </array>
    <array>
      <string>Jul 3 17, 17:54.background</string>
      <string>glyphs.J_ul 3 17, 17_54.background</string>
    </array>
    <array>
      <string>Jul 4 17, 11:56</string>
      <string>glyphs.J_ul 4 17, 11_56</string>
    </array>
    <array>
      <string>Jul 4 17, 11:56.background</string>
      <string>glyphs.J_ul 4 17, 11_56.background</string>
    </array>
    <array>
      <string>Jul 3 17, 17:57</string>
      <string>glyphs.J_ul 3 17, 17_57</string>
    </array>
    <array>
      <string>Jul 3 17, 17:57.background</string>
      <string>glyphs.J_ul 3 17, 17_57.background</string>
    </array>
    <array>
      <string>Jul 3 17, 18:00</string>
      <string>glyphs.J_ul 3 17, 18_00</string>
    </array>
    <array>
      <string>Jul 3 17, 18:00.background</string>
      <string>glyphs.J_ul 3 17, 18_00.background</string>
    </array>
    <array>
      <string>Aug 6 17, 14:50</string>
      <string>glyphs.A_ug 6 17, 14_50</string>
    </array>
    <array>
      <string>Aug 6 17, 14:50.background</string>
      <string>glyphs.A_ug 6 17, 14_50.background</string>
    </array>
    <array>
      <string>Jul 3 17, 17:50</string>
      <string>glyphs.J_ul 3 17, 17_50</string>
    </array>
    <array>
      <string>Jul 3 17, 18:10</string>
      <string>glyphs.J_ul 3 17, 18_10</string>
    </array>
    <array>
      <string>Jul 3 17, 18:10.background</string>
      <string>glyphs.J_ul 3 17, 18_10.background</string>
    </array>
    <array>
      <string>Aug 1 17, 19:55</string>
      <string>glyphs.A_ug 1 17, 19_55</string>
    </array>
    <array>
      <string>Aug 1 17, 19:55.background</string>
      <string>glyphs.A_ug 1 17, 19_55.background</string>
    </array>
    <array>
      <string>Mar 1 18, 12:29</string>
      <string>glyphs.M_ar 1 18, 12_29</string>
    </array>
    <array>
      <string>Mar 1 18, 12:29.background</string>
      <string>glyphs.M_ar 1 18, 12_29.background</string>
    </array>
    <array>
      <string>May 10 18, 11:16</string>
      <string>glyphs.M_ay 10 18, 11_16</string>
    </array>
    <array>
      <string>May 10 18, 11:16.background</string>
      <string>glyphs.M_ay 10 18, 11_16.background</string>
    </array>
    <array>
      <string>May 10 18, 15:08</string>
      <string>glyphs.M_ay 10 18, 15_08</string>
    </array>
    <array>
      <string>May 10 18, 15:08.background</string>
      <string>glyphs.M_ay 10 18, 15_08.background</string>
    </array>
    <array>
      <string>May 10 18, 13:19</string>
      <string>glyphs.M_ay 10 18, 13_19</string>
    </array>
    <array>
      <string>May 10 18, 13:19.background</string>
      <string>glyphs.M_ay 10 18, 13_19.background</string>
    </array>
    <array>
      <string>{100}</string>
      <string>glyphs.{100}</string>
    </array>
    <array>
      <string>{100}.background</string>
      <string>glyphs.{100}.background</string>
    </array>
    <array>
      <string>Aug 6 17, 15:30</string>
      <string>glyphs.A_ug 6 17, 15_30</string>
    </array>
    <array>
      <string>Aug 6 17, 15:30.background</string>
      <string>glyphs.A_ug 6 17, 15_30.background</string>
    </array>
    <array>
      <string>Aug 6 17, 15:32</string>
      <string>glyphs.A_ug 6 17, 15_32</string>
    </array>
    <array>
      <string>Aug 6 17, 15:32.background</string>
      <string>glyphs.A_ug 6 17, 15_32.background</string>
    </array>
    <array>
      <string>Aug 6 17, 15:40</string>
      <string>glyphs.A_ug 6 17, 15_40</string>
    </array>
    <array>
      <string>Aug 6 17, 15:40.background</string>
      <string>glyphs.A_ug 6 17, 15_40.background</string>
    </array>
    <array>
      <string>Jul 4 17, 12:20</string>
      <string>glyphs.J_ul 4 17, 12_20</string>
    </array>
    <array>
      <string>Jul 4 17, 12:20.background</string>
      <string>glyphs.J_ul 4 17, 12_20.background</string>
    </array>
    <array>
      <string>Jul 4 17, 15:23</string>
      <string>glyphs.J_ul 4 17, 15_23</string>
    </array>
    <array>
      <string>Jul 4 17, 15:23.background</string>
      <string>glyphs.J_ul 4 17, 15_23.background</string>
    </array>
    <array>
      <string>Jul 10 17, 12:08</string>
      <string>glyphs.J_ul 10 17, 12_08</string>
    </array>
    <array>
      <string>Jul 10 17, 12:08.background</string>
      <string>glyphs.J_ul 10 17, 12_08.background</string>
    </array>
    <array>
      <string>Jul 10 17, 12:18</string>
      <string>glyphs.J_ul 10 17, 12_18</string>
    </array>
    <array>
      <string>Jul 10 17, 12:18.background</string>
      <string>glyphs.J_ul 10 17, 12_18.background</string>
    </array>
    <array>
      <string>Jul 10 17, 14:24</string>
      <string>glyphs.J_ul 10 17, 14_24</string>
    </array>
    <array>
      <string>Jul 10 17, 14:24.background</string>
      <string>glyphs.J_ul 10 17, 14_24.background</string>
    </array>
    <array>
      <string>100</string>
      <string>glyphs.100</string>
    </array>
    <array>
      <string>100.background</string>
      <string>glyphs.100.background</string>
    </array>
    <array>
      <string>1000 b</string>
      <string>glyphs.1000 b</string>
    </array>
    <array>
      <string>1000 b.background</string>
      <string>glyphs.1000 b.background</string>
    </array>
    <array>
      <string>Jan 24 18, 17:55</string>
      <string>glyphs.J_an 24 18, 17_55</string>
    </array>
    <array>
      <string>Jan 24 18, 17:55.background</string>
      <string>glyphs.J_an 24 18, 17_55.background</string>
    </array>
    <array>
      <string>Mar 1 18, 16:15</string>
      <string>glyphs.M_ar 1 18, 16_15</string>
    </array>
    <array>
      <string>Mar 1 18, 16:15.background</string>
      <string>glyphs.M_ar 1 18, 16_15.background</string>
    </array>
    <array>
      <string>Mar 2 18, 01:44</string>
      <string>glyphs.M_ar 2 18, 01_44</string>
    </array>
    <array>
      <string>Mar 2 18, 01:44.background</string>
      <string>glyphs.M_ar 2 18, 01_44.background</string>
    </array>
    <array>
      <string>new Layer</string>
      <string>glyphs.new L_ayer</string>
    </array>
    <array>
      <string>Jan 30 18, 22:30</string>
      <string>glyphs.J_an 30 18, 22_30</string>
    </array>
    <array>
      <string>Jan 30 18, 22:30.background</string>
      <string>glyphs.J_an 30 18, 22_30.background</string>
    </array>
    <array>
      <string>Feb 2 18, 13:00</string>
      <string>glyphs.F_eb 2 18, 13_00</string>
    </array>
    <array>
      <string>Feb 2 18, 13:00.background</string>
      <string>glyphs.F_eb 2 18, 13_00.background</string>
    </array>
    <array>
      <string>Jul 11 17, 15:52</string>
      <string>glyphs.J_ul 11 17, 15_52</string>
    </array>
    <array>
      <string>Jul 11 17, 15:52.background</string>
      <string>glyphs.J_ul 11 17, 15_52.background</string>
    </array>
    <array>
      <string>Aug 1 17, 11:13</string>
      <string>glyphs.A_ug 1 17, 11_13</string>
    </array>
    <array>
      <string>Aug 1 17, 11:13.background</string>
      <string>glyphs.A_ug 1 17, 11_13.background</string>
    </array>
    <array>
      <string>Nov 14 17, 14:41</string>
      <string>glyphs.N_ov 14 17, 14_41</string>
    </array>
    <array>
      <string>Nov 14 17, 14:41.background</string>
      <string>glyphs.N_ov 14 17, 14_41.background</string>
    </array>
    <array>
      <string>Nov 14 17, 17:40</string>
      <string>glyphs.N_ov 14 17, 17_40</string>
    </array>
    <array>
      <string>Nov 14 17, 17:40.background</string>
      <string>glyphs.N_ov 14 17, 17_40.background</string>
    </array>
    <array>
      <string>Jul 17 17, 16:52</string>
      <string>glyphs.J_ul 17 17, 16_52</string>
    </array>
    <array>
      <string>Jul 17 17, 16:52.background</string>
      <string>glyphs.J_ul 17 17, 16_52.background</string>
    </array>
    <array>
      <string>Feb 2 18, 13:16</string>
      <string>glyphs.F_eb 2 18, 13_16</string>
    </array>
    <array>
      <string>{110}</string>
      <string>glyphs.{110}</string>
    </array>
    <array>
      <string>{110}.background</string>
      <string>glyphs.{110}.background</string>
    </array>
    <array>
      <string>Mar 1 18, 14:13</string>
      <string>glyphs.M_ar 1 18, 14_13</string>
    </array>
    <array>
      <string>Mar 1 18, 14:13.background</string>
      <string>glyphs.M_ar 1 18, 14_13.background</string>
    </array>
    <array>
      <string>Jul 5 17, 16:30</string>
      <string>glyphs.J_ul 5 17, 16_30</string>
    </array>
    <array>
      <string>Jul 5 17, 16:30.background</string>
      <string>glyphs.J_ul 5 17, 16_30.background</string>
    </array>
    <array>
      <string>Jul 5 17, 16:35</string>
      <string>glyphs.J_ul 5 17, 16_35</string>
    </array>
    <array>
      <string>Jul 5 17, 16:35.background</string>
      <string>glyphs.J_ul 5 17, 16_35.background</string>
    </array>
    <array>
      <string>Jul 11 17, 15:54</string>
      <string>glyphs.J_ul 11 17, 15_54</string>
    </array>
    <array>
      <string>Jul 11 17, 15:54.background</string>
      <string>glyphs.J_ul 11 17, 15_54.background</string>
    </array>
    <array>
      <string>Jul 12 17, 15:04</string>
      <string>glyphs.J_ul 12 17, 15_04</string>
    </array>
    <array>
      <string>Jul 12 17, 15:04.background</string>
      <string>glyphs.J_ul 12 17, 15_04.background</string>
    </array>
    <array>
      <string>Jul 12 17, 15:06</string>
      <string>glyphs.J_ul 12 17, 15_06</string>
    </array>
    <array>
      <string>Jul 12 17, 15:06.background</string>
      <string>glyphs.J_ul 12 17, 15_06.background</string>
    </array>
    <array>
      <string>Dec 2 19, 18:27</string>
      <string>glyphs.D_ec 2 19, 18_27</string>
    </array>
    <array>
      <string>Dec 2 19, 18:27.background</string>
      <string>glyphs.D_ec 2 19, 18_27.background</string>
    </array>
    <array>
      <string>Jul 12 17, 16:01</string>
      <string>glyphs.J_ul 12 17, 16_01</string>
    </array>
    <array>
      <string>Jul 12 17, 16:01.background</string>
      <string>glyphs.J_ul 12 17, 16_01.background</string>
    </array>
    <array>
      <string>Jul 12 17, 16:06</string>
      <string>glyphs.J_ul 12 17, 16_06</string>
    </array>
    <array>
      <string>Jul 12 17, 16:06.background</string>
      <string>glyphs.J_ul 12 17, 16_06.background</string>
    </array>
    <array>
      <string>Jul 27 17, 11:59</string>
      <string>glyphs.J_ul 27 17, 11_59</string>
    </array>
    <array>
      <string>Jul 27 17, 11:59.background</string>
      <string>glyphs.J_ul 27 17, 11_59.background</string>
    </array>
    <array>
      <string>Jul 27 17, 12:39</string>
      <string>glyphs.J_ul 27 17, 12_39</string>
    </array>
    <array>
      <string>Jul 27 17, 12:39.background</string>
      <string>glyphs.J_ul 27 17, 12_39.background</string>
    </array>
    <array>
      <string>Jul 28 17, 14:13</string>
      <string>glyphs.J_ul 28 17, 14_13</string>
    </array>
    <array>
      <string>Jul 28 17, 14:13.background</string>
      <string>glyphs.J_ul 28 17, 14_13.background</string>
    </array>
    <array>
      <string>Jul 28 17, 14:17</string>
      <string>glyphs.J_ul 28 17, 14_17</string>
    </array>
    <array>
      <string>Jul 28 17, 14:17.background</string>
      <string>glyphs.J_ul 28 17, 14_17.background</string>
    </array>
    <array>
      <string>Aug 3 17, 10:58</string>
      <string>glyphs.A_ug 3 17, 10_58</string>
    </array>
    <array>
      <string>Aug 3 17, 10:58.background</string>
      <string>glyphs.A_ug 3 17, 10_58.background</string>
    </array>
    <array>
      <string>Aug 1 17, 15:40</string>
      <string>glyphs.A_ug 1 17, 15_40</string>
    </array>
    <array>
      <string>Aug 1 17, 15:40.background</string>
      <string>glyphs.A_ug 1 17, 15_40.background</string>
    </array>
    <array>
      <string>Aug 1 17, 16:14</string>
      <string>glyphs.A_ug 1 17, 16_14</string>
    </array>
    <array>
      <string>Aug 1 17, 16:14.background</string>
      <string>glyphs.A_ug 1 17, 16_14.background</string>
    </array>
    <array>
      <string>Jan 24 18, 18:08</string>
      <string>glyphs.J_an 24 18, 18_08</string>
    </array>
    <array>
      <string>Jan 24 18, 18:08.background</string>
      <string>glyphs.J_an 24 18, 18_08.background</string>
    </array>
    <array>
      <string>Mar 1 18, 15:41</string>
      <string>glyphs.M_ar 1 18, 15_41</string>
    </array>
    <array>
      <string>Mar 1 18, 15:41.background</string>
      <string>glyphs.M_ar 1 18, 15_41.background</string>
    </array>
    <array>
      <string>Aug 2 17, 17:10</string>
      <string>glyphs.A_ug 2 17, 17_10</string>
    </array>
    <array>
      <string>Aug 2 17, 17:10.background</string>
      <string>glyphs.A_ug 2 17, 17_10.background</string>
    </array>
    <array>
      <string>Nov 15 17, 15:40</string>
      <string>glyphs.N_ov 15 17, 15_40</string>
    </array>
    <array>
      <string>Nov 15 17, 15:40.background</string>
      <string>glyphs.N_ov 15 17, 15_40.background</string>
    </array>
    <array>
      <string>Dec 8 19, 23:37</string>
      <string>glyphs.D_ec 8 19, 23_37</string>
    </array>
    <array>
      <string>Dec 8 19, 23:37.background</string>
      <string>glyphs.D_ec 8 19, 23_37.background</string>
    </array>
    <array>
      <string>Aug 7 17, 18:54</string>
      <string>glyphs.A_ug 7 17, 18_54</string>
    </array>
    <array>
      <string>Aug 7 17, 18:54.background</string>
      <string>glyphs.A_ug 7 17, 18_54.background</string>
    </array>
    <array>
      <string>Aug 6 17, 14:59</string>
      <string>glyphs.A_ug 6 17, 14_59</string>
    </array>
    <array>
      <string>Aug 6 17, 14:59.background</string>
      <string>glyphs.A_ug 6 17, 14_59.background</string>
    </array>
    <array>
      <string>Aug 19 17, 17:22</string>
      <string>glyphs.A_ug 19 17, 17_22</string>
    </array>
    <array>
      <string>Aug 19 17, 17:22.background</string>
      <string>glyphs.A_ug 19 17, 17_22.background</string>
    </array>
    <array>
      <string>Aug 6 17, 15:04</string>
      <string>glyphs.A_ug 6 17, 15_04</string>
    </array>
    <array>
      <string>Aug 6 17, 15:04.background</string>
      <string>glyphs.A_ug 6 17, 15_04.background</string>
    </array>
    <array>
      <string>Aug 6 17, 15:24</string>
      <string>glyphs.A_ug 6 17, 15_24</string>
    </array>
    <array>
      <string>Aug 6 17, 15:24.background</string>
      <string>glyphs.A_ug 6 17, 15_24.background</string>
    </array>
    <array>
      <string>Aug 11 17, 11:36</string>
      <string>glyphs.A_ug 11 17, 11_36</string>
    </array>
    <array>
      <string>Aug 11 17, 11:36.background</string>
      <string>glyphs.A_ug 11 17, 11_36.background</string>
    </array>
    <array>
      <string>Aug 21 17, 13:19</string>
      <string>glyphs.A_ug 21 17, 13_19</string>
    </array>
    <array>
      <string>Aug 21 17, 13:19.background</string>
      <string>glyphs.A_ug 21 17, 13_19.background</string>
    </array>
    <array>
      <string>Aug 6 17, 18:57</string>
      <string>glyphs.A_ug 6 17, 18_57</string>
    </array>
    <array>
      <string>Aug 6 17, 18:57.background</string>
      <string>glyphs.A_ug 6 17, 18_57.background</string>
    </array>
  </array>
</plist>
