<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>DDD7ED6C-21F1-4B4A-A924-DDC7283DD5CA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.thorn</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
