<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>522D3B76-50CC-432F-9713-5836DC30231A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.O</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
