<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>AD34724B-A645-4864-A04C-110098573906</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.u</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
