<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>762</integer>
	<key>capHeight</key>
	<integer>692</integer>
	<key>copyright</key>
	<string>Copyright 2011 The Bitter Project Authors (https://github.com/solmatas/bitter)</string>
	<key>descender</key>
	<integer>-230</integer>
	<key>familyName</key>
	<string>Bitter Pro</string>
	<key>guidelines</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>455</integer>
			<key>y</key>
			<integer>-242</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>165</integer>
			<key>y</key>
			<integer>782</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>75</integer>
			<key>y</key>
			<integer>593</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>140</integer>
			<key>y</key>
			<integer>868</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>208</integer>
			<key>y</key>
			<integer>744</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>146</integer>
			<key>y</key>
			<integer>49</integer>
		</dict>
	</array>
	<key>openTypeHeadCreated</key>
	<string>2022/11/10 12:44:31</string>
	<key>openTypeHheaAscender</key>
	<integer>1255</integer>
	<key>openTypeHheaDescender</key>
	<integer>-376</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDesigner</key>
	<string>Sol Matas, and Bitter project Authors</string>
	<key>openTypeNameDesignerURL</key>
	<string>https://www.solmatas.com/</string>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturer</key>
	<string>Sol Matas</string>
	<key>openTypeNameManufacturerURL</key>
	<string>https://www.solmatas.com/</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Thin</string>
	<key>openTypeOS2Type</key>
	<array/>
	<key>openTypeOS2TypoAscender</key>
	<integer>1255</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-376</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>250</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1255</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>376</integer>
	<key>postscriptBlueValues</key>
	<array>
		<real>-6.0</real>
		<real>0.0</real>
		<real>522.0</real>
		<real>528.0</real>
		<real>692.0</real>
		<real>698.0</real>
		<real>762.0</real>
		<real>768.0</real>
	</array>
	<key>postscriptFontName</key>
	<string>BitterPro-Thin</string>
	<key>postscriptOtherBlues</key>
	<array>
		<real>-236.0</real>
		<real>-230.0</real>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<real>20.0</real>
		<real>15.0</real>
		<real>15.0</real>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<real>20.0</real>
		<real>20.0</real>
	</array>
	<key>styleMapFamilyName</key>
	<string>Bitter Pro Thin</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Thin</string>
	<key>trademark</key>
	<string>Bitter is a trademark of Sol Matas (www.solmatas.com).</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>11</integer>
	<key>xHeight</key>
	<integer>522</integer>
</dict>
</plist>
