<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,0.25,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>18E6893F-A1CD-4C08-97BF-BB84955E6F07</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.o</key>
      <integer>16</integer>
    </dict>
  </dict>
</plist>
