<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>106BE913-AA21-48CD-A443-D6D00A0F5702</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.t</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
