<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>046EA5BA-706C-46A8-9730-43B8679623A5</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Thorn</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
