<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8B788854-BF31-487F-88B4-8DEF56C77593</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.v</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
