<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2A2A1162-91FD-4339-84B1-5732CA37ABCD</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.n</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
