<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>70ABE615-8407-4C8B-BDB9-3ADE020D822F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.g.sc</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
