<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D605481C-78AE-418E-A8C7-6536D4848D69</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.o</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
