<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>76780F3C-C5E0-4B01-B9CF-9D27DD1C4130</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Be-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
