<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F1EF9F9B-2A0E-45B2-BFD0-56D0273D6541</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.t</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
