<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>EC61F1F2-FE57-49C1-8090-F20B8208D4D9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.b</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
