<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>5BE73E89-7200-43E8-8AB3-0FC5F279A6B0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.a</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
