<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F002BE44-8574-4DDF-A0CE-F0065C9603C7</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ogonek</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
