<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1C3E2854-E0EB-4A9B-A853-403EC0AA904E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.m</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
