<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>881E1EB6-EE74-437B-A602-25ED561F8165</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.iogonek</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
