<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>91607B73-A90F-4E11-BE79-E236FD83ABAE</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ae</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
