<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9EFDA4EE-7373-454A-A5AF-8C232B48EF87</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.y</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
