<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>89FD20AD-A4C8-4F1F-8A3D-BFC970A4B9D1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.P</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
