<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>390787FC-A4DA-4C62-A5FE-8EA3E850F2F5</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.b</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
