<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E5F30E85-74CB-4758-B98F-FE4994102409</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.f_f_l</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
