<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2D61A30C-2A09-4A48-BC51-DFEBF568995D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.thorn</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
