<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C5AF623D-73B7-4197-9689-E05DEF1EEA57</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.o</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
