<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>513C6ACC-F7D3-4885-815E-9B708373CF8A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.v</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
