<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F347C660-49CF-4AA2-B42C-2BB24B4DAC6F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.n</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
