<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>CFB8FAF2-1231-44E0-A3B1-6FBFB8B3FA05</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.m</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
