<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>22B8E170-2637-4542-B299-38B6A3EF2BCE</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ae</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
