<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>780</integer>
    <key>capHeight</key>
    <integer>710</integer>
    <key>copyright</key>
    <string>Copyright 2011 The Bitter Project Authors (https://github.com/solmatas/BitterPro)</string>
    <key>descender</key>
    <integer>-230</integer>
    <key>familyName</key>
    <string>Bitter</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>tc2dIPJc2f</string>
        <key>x</key>
        <integer>261</integer>
        <key>y</key>
        <integer>-245</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>9GhG2fj1VM</string>
        <key>x</key>
        <integer>355</integer>
        <key>y</key>
        <integer>477</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>yXi0oKdfwg</string>
        <key>x</key>
        <integer>88</integer>
        <key>y</key>
        <integer>872</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>nopynOUev1</string>
        <key>x</key>
        <integer>142</integer>
        <key>y</key>
        <integer>592</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>LDXukslsVC</string>
        <key>x</key>
        <integer>470</integer>
        <key>y</key>
        <integer>18</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>CIIT28WrQS</string>
        <key>x</key>
        <integer>142</integer>
        <key>y</key>
        <integer>1002</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>QPNzgZPE98</string>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>227</integer>
        <key>y</key>
        <integer>193</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2020/02/14 19:45:02</string>
    <key>openTypeHheaAscender</key>
    <integer>935</integer>
    <key>openTypeHheaDescender</key>
    <integer>-265</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Sol Matas, and Bitter project Authors</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://www.solmatas.com/</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Sol Matas</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://www.solmatas.com/</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>935</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-265</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1255</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>376</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-15</integer>
      <integer>0</integer>
      <integer>540</integer>
      <integer>555</integer>
      <integer>591</integer>
      <integer>606</integer>
      <integer>710</integer>
      <integer>725</integer>
      <integer>780</integer>
      <integer>795</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-245</integer>
      <integer>-230</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>150</integer>
      <integer>130</integer>
      <integer>100</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>200</integer>
      <integer>220</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Bitter Black</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Black</string>
    <key>trademark</key>
    <string>Bitter is a trademark of Sol Matas (www.solmatas.com).</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>2</integer>
    <key>xHeight</key>
    <integer>540</integer>
  </dict>
</plist>
