<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>41FB8D3C-69CC-4EA7-8828-5B47E75B33F6</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.g</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
