<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>63B34258-1E1C-4579-B8FD-8A1C8200E578</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.c</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
