<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>35753A9D-0ECC-4FF6-BCDC-3611364150B5</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.P</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
