<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>5DAAADD0-B358-4E0C-AA4A-F675636B5219</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eng.sc</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
