<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>DC82266B-48F5-4D3B-AA36-2F6700E6677F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.D</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
