<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.ogonekAccent</key>
    <string>A_.ogonekA_ccent.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Abrevedotbelow</key>
    <string>A_brevedotbelow.glif</string>
    <key>Abrevegrave</key>
    <string>A_brevegrave.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>Be-cy</key>
    <string>B_e-cy.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Che-cy</key>
    <string>C_he-cy.glif</string>
    <key>Cheabkhasian-cy</key>
    <string>C_heabkhasian-cy.glif</string>
    <key>Chedescenderabkhasian-cy</key>
    <string>C_hedescenderabkhasian-cy.glif</string>
    <key>Chedieresis-cy</key>
    <string>C_hedieresis-cy.glif</string>
    <key>Chekhakassian-cy</key>
    <string>C_hekhakassian-cy.glif</string>
    <key>Cheverticalstroke-cy</key>
    <string>C_heverticalstroke-cy.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>De-cy</key>
    <string>D_e-cy.glif</string>
    <key>De-cy.loclBGR</key>
    <string>D_e-cy.loclB_G_R_.glif</string>
    <key>Dje-cy</key>
    <string>D_je-cy.glif</string>
    <key>Dzeabkhasian-cy</key>
    <string>D_zeabkhasian-cy.glif</string>
    <key>Dzhe-cy</key>
    <string>D_zhe-cy.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E-cy</key>
    <string>E_-cy.glif</string>
    <key>Ecedillabreve</key>
    <string>E_cedillabreve.glif</string>
    <key>Ef-cy</key>
    <string>E_f-cy.glif</string>
    <key>Ef-cy.loclBGR</key>
    <string>E_f-cy.loclB_G_R_.glif</string>
    <key>El-cy</key>
    <string>E_l-cy.glif</string>
    <key>El-cy.loclBGR</key>
    <string>E_l-cy.loclB_G_R_.glif</string>
    <key>Elhook-cy</key>
    <string>E_lhook-cy.glif</string>
    <key>Eltail-cy</key>
    <string>E_ltail-cy.glif</string>
    <key>Emtail-cy</key>
    <string>E_mtail-cy.glif</string>
    <key>EnLeftHook-cy</key>
    <string>E_nL_eftH_ook-cy.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Enghe-cy</key>
    <string>E_nghe-cy.glif</string>
    <key>Enhook-cy</key>
    <string>E_nhook-cy.glif</string>
    <key>Entail-cy</key>
    <string>E_ntail-cy.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>Ereversed-cy</key>
    <string>E_reversed-cy.glif</string>
    <key>Ertick-cy</key>
    <string>E_rtick-cy.glif</string>
    <key>Esdescender-cy</key>
    <string>E_sdescender-cy.glif</string>
    <key>Esdescender-cy.loclBSH</key>
    <string>E_sdescender-cy.loclB_S_H_.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>Fita-cy</key>
    <string>F_ita-cy.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Ge-cy</key>
    <string>G_e-cy.glif</string>
    <key>Gedescender-cy</key>
    <string>G_edescender-cy.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>Gestrokehook-cy</key>
    <string>G_estrokehook-cy.glif</string>
    <key>Ghemiddlehook-cy</key>
    <string>G_hemiddlehook-cy.glif</string>
    <key>Gheupturn-cy</key>
    <string>G_heupturn-cy.glif</string>
    <key>Gje-cy</key>
    <string>G_je-cy.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>Haabkhasian-cy</key>
    <string>H_aabkhasian-cy.glif</string>
    <key>Hadescender-cy</key>
    <string>H_adescender-cy.glif</string>
    <key>Hahook-cy</key>
    <string>H_ahook-cy.glif</string>
    <key>Hardsign-cy</key>
    <string>H_ardsign-cy.glif</string>
    <key>Hastroke-cy</key>
    <string>H_astroke-cy.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>IJ</key>
    <string>I_J_.glif</string>
    <key>Ia-cy</key>
    <string>I_a-cy.glif</string>
    <key>Ii-cy</key>
    <string>I_i-cy.glif</string>
    <key>Ii-cy.loclBGR</key>
    <string>I_i-cy.loclB_G_R_.glif</string>
    <key>Iogonek</key>
    <string>I_ogonek.glif</string>
    <key>Iu-cy</key>
    <string>I_u-cy.glif</string>
    <key>Izhitsa-cy</key>
    <string>I_zhitsa-cy.glif</string>
    <key>Izhitsadblgrave-cy</key>
    <string>I_zhitsadblgrave-cy.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Kadescender-cy</key>
    <string>K_adescender-cy.glif</string>
    <key>Kahook-cy</key>
    <string>K_ahook-cy.glif</string>
    <key>Kaverticalstroke-cy</key>
    <string>K_averticalstroke-cy.glif</string>
    <key>Kje-cy</key>
    <string>K_je-cy.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>Ldot</key>
    <string>L_dot.glif</string>
    <key>Lje-cy</key>
    <string>L_je-cy.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>Nje-cy</key>
    <string>N_je-cy.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O-cy</key>
    <string>O_-cy.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Obarred-cy</key>
    <string>O_barred-cy.glif</string>
    <key>Ocircumflexacute</key>
    <string>O_circumflexacute.glif</string>
    <key>Odieresis-cy</key>
    <string>O_dieresis-cy.glif</string>
    <key>Odieresismacron</key>
    <string>O_dieresismacron.glif</string>
    <key>Ohm</key>
    <string>O_hm.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Otildeacute</key>
    <string>O_tildeacute.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Pe-cy</key>
    <string>P_e-cy.glif</string>
    <key>Pedescender-cy</key>
    <string>P_edescender-cy.glif</string>
    <key>Pemiddlehook-cy</key>
    <string>P_emiddlehook-cy.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Q.alt</key>
    <string>Q_.alt.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Reversedze-cy</key>
    <string>R_eversedze-cy.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Scedilla</key>
    <string>S_cedilla.glif</string>
    <key>Schwa-cy</key>
    <string>S_chwa-cy.glif</string>
    <key>Sdotbelowdotaccent</key>
    <string>S_dotbelowdotaccent.glif</string>
    <key>Semisoftsign-cy</key>
    <string>S_emisoftsign-cy.glif</string>
    <key>Sha-cy</key>
    <string>S_ha-cy.glif</string>
    <key>Shcha-cy</key>
    <string>S_hcha-cy.glif</string>
    <key>Shha-cy</key>
    <string>S_hha-cy.glif</string>
    <key>Softsign-cy</key>
    <string>S_oftsign-cy.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>Tcedilla</key>
    <string>T_cedilla.glif</string>
    <key>Tedescender-cy</key>
    <string>T_edescender-cy.glif</string>
    <key>Tetse-cy</key>
    <string>T_etse-cy.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>Tse-cy</key>
    <string>T_se-cy.glif</string>
    <key>Tshe-cy</key>
    <string>T_she-cy.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U-cy</key>
    <string>U_-cy.glif</string>
    <key>Udieresis-cy</key>
    <string>U_dieresis-cy.glif</string>
    <key>Uhookabove</key>
    <string>U_hookabove.glif</string>
    <key>Uhorn</key>
    <string>U_horn.glif</string>
    <key>Uhungarumlaut-cy</key>
    <string>U_hungarumlaut-cy.glif</string>
    <key>Umacron-cy</key>
    <string>U_macron-cy.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>Ustraitstroke-cy</key>
    <string>U_straitstroke-cy.glif</string>
    <key>Utildeacute</key>
    <string>U_tildeacute.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Yat-cy</key>
    <string>Y_at-cy.glif</string>
    <key>Yeru-cy</key>
    <string>Y_eru-cy.glif</string>
    <key>Yerudieresis-cy</key>
    <string>Y_erudieresis-cy.glif</string>
    <key>Yi-cy</key>
    <string>Y_i-cy.glif</string>
    <key>Yusbig-cy</key>
    <string>Y_usbig-cy.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Ze-cy</key>
    <string>Z_e-cy.glif</string>
    <key>Zedescender-cy.loclBSH</key>
    <string>Z_edescender-cy.loclB_S_H_.glif</string>
    <key>Zhe-cy</key>
    <string>Z_he-cy.glif</string>
    <key>Zhedescender-cy</key>
    <string>Z_hedescender-cy.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.sc</key>
    <string>a.sc.glif</string>
    <key>a.sc.ogonekAccent</key>
    <string>a.sc.ogonekA_ccent.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acute.case.loclPLK</key>
    <string>acute.case.loclP_L_K_.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>acutecomb.case</key>
    <string>acutecomb.case.glif</string>
    <key>acutecomb.loclPLK</key>
    <string>acutecomb.loclP_L_K_.glif</string>
    <key>acutedbl</key>
    <string>acutedbl.glif</string>
    <key>acutedotaccentcomb</key>
    <string>acutedotaccentcomb.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ae.sc</key>
    <string>ae.sc.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>ampersand.sc</key>
    <string>ampersand.sc.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>apostrophemod</key>
    <string>apostrophemod.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>b.sc</key>
    <string>b.sc.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>backslash.case</key>
    <string>backslash.case.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>be-cy</key>
    <string>be-cy.glif</string>
    <key>be-cy.loclSRB</key>
    <string>be-cy.loclS_R_B_.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>brevecomb-cy</key>
    <string>brevecomb-cy.glif</string>
    <key>brevecomb-cy.case</key>
    <string>brevecomb-cy.case.glif</string>
    <key>brevecomb.case</key>
    <string>brevecomb.case.glif</string>
    <key>brevecomb_acutecomb</key>
    <string>brevecomb_acutecomb.glif</string>
    <key>brevecomb_acutecomb.case</key>
    <string>brevecomb_acutecomb.case.glif</string>
    <key>brevecomb_gravecomb</key>
    <string>brevecomb_gravecomb.glif</string>
    <key>brevecomb_gravecomb.case</key>
    <string>brevecomb_gravecomb.case.glif</string>
    <key>brevecomb_hookabovecomb</key>
    <string>brevecomb_hookabovecomb.glif</string>
    <key>brevecomb_hookabovecomb.case</key>
    <string>brevecomb_hookabovecomb.case.glif</string>
    <key>brevecomb_tildecomb</key>
    <string>brevecomb_tildecomb.glif</string>
    <key>brevecomb_tildecomb.case</key>
    <string>brevecomb_tildecomb.case.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c.sc</key>
    <string>c.sc.glif</string>
    <key>c_h</key>
    <string>c_h.glif</string>
    <key>c_t</key>
    <string>c_t.glif</string>
    <key>careof</key>
    <string>careof.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>caroncomb.alt</key>
    <string>caroncomb.alt.glif</string>
    <key>caroncomb.case</key>
    <string>caroncomb.case.glif</string>
    <key>cedi</key>
    <string>cedi.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>cedillacomb.case</key>
    <string>cedillacomb.case.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>che-cy</key>
    <string>che-cy.glif</string>
    <key>cheabkhasian-cy</key>
    <string>cheabkhasian-cy.glif</string>
    <key>chedescender-cy</key>
    <string>chedescender-cy.glif</string>
    <key>chedescenderabkhasian-cy</key>
    <string>chedescenderabkhasian-cy.glif</string>
    <key>chekhakassian-cy</key>
    <string>chekhakassian-cy.glif</string>
    <key>cheverticalstroke-cy</key>
    <string>cheverticalstroke-cy.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>circumflexcomb.case</key>
    <string>circumflexcomb.case.glif</string>
    <key>circumflexcomb_acutecomb</key>
    <string>circumflexcomb_acutecomb.glif</string>
    <key>circumflexcomb_acutecomb.case</key>
    <string>circumflexcomb_acutecomb.case.glif</string>
    <key>circumflexcomb_gravecomb</key>
    <string>circumflexcomb_gravecomb.glif</string>
    <key>circumflexcomb_hookabovecomb</key>
    <string>circumflexcomb_hookabovecomb.glif</string>
    <key>circumflexcomb_hookabovecomb.case</key>
    <string>circumflexcomb_hookabovecomb.case.glif</string>
    <key>circumflexcomb_tildecomb</key>
    <string>circumflexcomb_tildecomb.glif</string>
    <key>circumflexcomb_tildecomb.case</key>
    <string>circumflexcomb_tildecomb.case.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>colonsign</key>
    <string>colonsign.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>commaturnedabovecomb</key>
    <string>commaturnedabovecomb.glif</string>
    <key>commaturnedabovecomb.case</key>
    <string>commaturnedabovecomb.case.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d.sc</key>
    <string>d.sc.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dblgravecomb</key>
    <string>dblgravecomb.glif</string>
    <key>dblgravecomb.case</key>
    <string>dblgravecomb.case.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>de-cy</key>
    <string>de-cy.glif</string>
    <key>de-cy.loclBGR</key>
    <string>de-cy.loclB_G_R_.glif</string>
    <key>descender-cy</key>
    <string>descender-cy.glif</string>
    <key>descender-cy.case</key>
    <string>descender-cy.case.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dieresisacutecomb</key>
    <string>dieresisacutecomb.glif</string>
    <key>dieresisacutecomb.case</key>
    <string>dieresisacutecomb.case.glif</string>
    <key>dieresiscaroncomb</key>
    <string>dieresiscaroncomb.glif</string>
    <key>dieresiscaroncomb.case</key>
    <string>dieresiscaroncomb.case.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>dieresiscomb.case</key>
    <string>dieresiscomb.case.glif</string>
    <key>dieresisgravecomb</key>
    <string>dieresisgravecomb.glif</string>
    <key>dieresisgravecomb.case</key>
    <string>dieresisgravecomb.case.glif</string>
    <key>dieresismacroncomb</key>
    <string>dieresismacroncomb.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>divisionslash</key>
    <string>divisionslash.glif</string>
    <key>dje-cy</key>
    <string>dje-cy.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dong</key>
    <string>dong.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>dotmacroncomb</key>
    <string>dotmacroncomb.glif</string>
    <key>dotmacroncomb.case</key>
    <string>dotmacroncomb.case.glif</string>
    <key>downArrow</key>
    <string>downA_rrow.glif</string>
    <key>dzeabkhasian-cy</key>
    <string>dzeabkhasian-cy.glif</string>
    <key>dzhe-cy</key>
    <string>dzhe-cy.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e-cy</key>
    <string>e-cy.glif</string>
    <key>e.sc</key>
    <string>e.sc.glif</string>
    <key>ef-cy</key>
    <string>ef-cy.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.sinf</key>
    <string>eight.sinf.glif</string>
    <key>el-cy</key>
    <string>el-cy.glif</string>
    <key>elhook-cy</key>
    <string>elhook-cy.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>eltail-cy</key>
    <string>eltail-cy.glif</string>
    <key>emptyset</key>
    <string>emptyset.glif</string>
    <key>en-cy</key>
    <string>en-cy.glif</string>
    <key>en-cy.loclBGR</key>
    <string>en-cy.loclB_G_R_.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>eng.sc</key>
    <string>eng.sc.glif</string>
    <key>enghe-cy</key>
    <string>enghe-cy.glif</string>
    <key>enhook-cy</key>
    <string>enhook-cy.glif</string>
    <key>enlefthook-cy</key>
    <string>enlefthook-cy.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>ereversed-cy</key>
    <string>ereversed-cy.glif</string>
    <key>ertick-cy</key>
    <string>ertick-cy.glif</string>
    <key>esdescender-cy</key>
    <string>esdescender-cy.glif</string>
    <key>esdescender-cy.loclBSH</key>
    <string>esdescender-cy.loclB_S_H_.glif</string>
    <key>estimated</key>
    <string>estimated.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>eth.sc</key>
    <string>eth.sc.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclam.sc</key>
    <string>exclam.sc.glif</string>
    <key>exclamdouble</key>
    <string>exclamdouble.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>exclamdown.case</key>
    <string>exclamdown.case.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f.alt</key>
    <string>f.alt.glif</string>
    <key>f.sc</key>
    <string>f.sc.glif</string>
    <key>f_b</key>
    <string>f_b.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_j</key>
    <string>f_f_j.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>f_h</key>
    <string>f_h.glif</string>
    <key>f_idieresis</key>
    <string>f_idieresis.glif</string>
    <key>f_igrave</key>
    <string>f_igrave.glif</string>
    <key>f_j</key>
    <string>f_j.glif</string>
    <key>f_k</key>
    <string>f_k.glif</string>
    <key>f_t</key>
    <string>f_t.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>firsttonechinese</key>
    <string>firsttonechinese.glif</string>
    <key>fita-cy</key>
    <string>fita-cy.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.dnom</key>
    <string>five.dnom.glif</string>
    <key>five.sinf</key>
    <string>five.sinf.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.dnom</key>
    <string>four.dnom.glif</string>
    <key>four.osf</key>
    <string>four.osf.glif</string>
    <key>four.sinf</key>
    <string>four.sinf.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>franc</key>
    <string>franc.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.sc</key>
    <string>g.sc.glif</string>
    <key>ge-cy</key>
    <string>ge-cy.glif</string>
    <key>ge-cy.loclBGR</key>
    <string>ge-cy.loclB_G_R_.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>germandbls.sc</key>
    <string>germandbls.sc.glif</string>
    <key>gestrokehook-cy</key>
    <string>gestrokehook-cy.glif</string>
    <key>ghemiddlehook-cy</key>
    <string>ghemiddlehook-cy.glif</string>
    <key>ghestroke-cy</key>
    <string>ghestroke-cy.glif</string>
    <key>gheupturn-cy</key>
    <string>gheupturn-cy.glif</string>
    <key>gje-cy</key>
    <string>gje-cy.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>gravecomb.case</key>
    <string>gravecomb.case.glif</string>
    <key>gravedbl</key>
    <string>gravedbl.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>guarani</key>
    <string>guarani.glif</string>
    <key>guillemetleft.case</key>
    <string>guillemetleft.case.glif</string>
    <key>guillemetright</key>
    <string>guillemetright.glif</string>
    <key>guillemetright.case</key>
    <string>guillemetright.case.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>h.sc</key>
    <string>h.sc.glif</string>
    <key>haabkhasian-cy</key>
    <string>haabkhasian-cy.glif</string>
    <key>hahook-cy</key>
    <string>hahook-cy.glif</string>
    <key>hardsign-cy</key>
    <string>hardsign-cy.glif</string>
    <key>hardsign-cy.loclBGR</key>
    <string>hardsign-cy.loclB_G_R_.glif</string>
    <key>hastroke-cy</key>
    <string>hastroke-cy.glif</string>
    <key>hbar.sc</key>
    <string>hbar.sc.glif</string>
    <key>hcircumflex</key>
    <string>hcircumflex.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>hookabovecomb.case</key>
    <string>hookabovecomb.case.glif</string>
    <key>horizontalbar</key>
    <string>horizontalbar.glif</string>
    <key>horncomb</key>
    <string>horncomb.glif</string>
    <key>hryvnia</key>
    <string>hryvnia.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hungarumlautcomb.case</key>
    <string>hungarumlautcomb.case.glif</string>
    <key>i.sc</key>
    <string>i.sc.glif</string>
    <key>ia-cy</key>
    <string>ia-cy.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>ii-cy</key>
    <string>ii-cy.glif</string>
    <key>iishort-cy.loclBGR</key>
    <string>iishort-cy.loclB_G_R_.glif</string>
    <key>increment</key>
    <string>increment.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>integral</key>
    <string>integral.glif</string>
    <key>integralbt</key>
    <string>integralbt.glif</string>
    <key>integraltp</key>
    <string>integraltp.glif</string>
    <key>intersection</key>
    <string>intersection.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>iogonek.sc</key>
    <string>iogonek.sc.glif</string>
    <key>iu-cy</key>
    <string>iu-cy.glif</string>
    <key>iu-cy.loclBGR</key>
    <string>iu-cy.loclB_G_R_.glif</string>
    <key>izhitsa-cy</key>
    <string>izhitsa-cy.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>j.sc</key>
    <string>j.sc.glif</string>
    <key>jcircumflex</key>
    <string>jcircumflex.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>je-cy</key>
    <string>je-cy.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>k.sc</key>
    <string>k.sc.glif</string>
    <key>ka-cy</key>
    <string>ka-cy.glif</string>
    <key>kabashkir-cy</key>
    <string>kabashkir-cy.glif</string>
    <key>kadescender-cy</key>
    <string>kadescender-cy.glif</string>
    <key>kahook-cy</key>
    <string>kahook-cy.glif</string>
    <key>kastroke-cy</key>
    <string>kastroke-cy.glif</string>
    <key>kaverticalstroke-cy</key>
    <string>kaverticalstroke-cy.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>kgreenlandic.sc</key>
    <string>kgreenlandic.sc.glif</string>
    <key>kip</key>
    <string>kip.glif</string>
    <key>kje-cy</key>
    <string>kje-cy.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l.sc</key>
    <string>l.sc.glif</string>
    <key>lcaron.sc</key>
    <string>lcaron.sc.glif</string>
    <key>ldot</key>
    <string>ldot.glif</string>
    <key>ldot.sc</key>
    <string>ldot.sc.glif</string>
    <key>leftArrow</key>
    <string>leftA_rrow.glif</string>
    <key>leftRightArrow</key>
    <string>leftR_ightA_rrow.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>liraTurkish</key>
    <string>liraT_urkish.glif</string>
    <key>literSign</key>
    <string>literS_ign.glif</string>
    <key>lj.sc</key>
    <string>lj.sc.glif</string>
    <key>lje-cy</key>
    <string>lje-cy.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>logicalnotReversed</key>
    <string>logicalnotR_eversed.glif</string>
    <key>longs</key>
    <string>longs.glif</string>
    <key>lozenge</key>
    <string>lozenge.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>lslash.sc</key>
    <string>lslash.sc.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m.sc</key>
    <string>m.sc.glif</string>
    <key>macrondieresiscomb</key>
    <string>macrondieresiscomb.glif</string>
    <key>macrondieresiscomb.case</key>
    <string>macrondieresiscomb.case.glif</string>
    <key>manat</key>
    <string>manat.glif</string>
    <key>micro</key>
    <string>micro.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>minute</key>
    <string>minute.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.sc</key>
    <string>n.sc.glif</string>
    <key>naira</key>
    <string>naira.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.dnom</key>
    <string>nine.dnom.glif</string>
    <key>nine.sinf</key>
    <string>nine.sinf.glif</string>
    <key>nine.tf</key>
    <string>nine.tf.glif</string>
    <key>nje-cy</key>
    <string>nje-cy.glif</string>
    <key>nmod</key>
    <string>nmod.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>numero</key>
    <string>numero.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.sc</key>
    <string>o.sc.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>oe.sc</key>
    <string>oe.sc.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>ogonekcomb.case</key>
    <string>ogonekcomb.case.glif</string>
    <key>ogonekcomb.case.alt</key>
    <string>ogonekcomb.case.alt.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>ohorn.sc</key>
    <string>ohorn.sc.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.dnom</key>
    <string>one.dnom.glif</string>
    <key>one.sinf</key>
    <string>one.sinf.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>oslash.sc</key>
    <string>oslash.sc.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>p.sc</key>
    <string>p.sc.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenleft.case</key>
    <string>parenleft.case.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>pe-cy</key>
    <string>pe-cy.glif</string>
    <key>pemiddlehook-cy</key>
    <string>pemiddlehook-cy.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>peseta</key>
    <string>peseta.glif</string>
    <key>peso</key>
    <string>peso.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>product</key>
    <string>product.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>q.sc</key>
    <string>q.sc.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>question.sc</key>
    <string>question.sc.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>questiondown.case</key>
    <string>questiondown.case.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quotereversed</key>
    <string>quotereversed.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.sc</key>
    <string>r.sc.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>reversedze-cy</key>
    <string>reversedze-cy.glif</string>
    <key>rightArrow</key>
    <string>rightA_rrow.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ringacutecomb</key>
    <string>ringacutecomb.glif</string>
    <key>ringcomb.case</key>
    <string>ringcomb.case.glif</string>
    <key>ringhalfleft</key>
    <string>ringhalfleft.glif</string>
    <key>ringhalfright</key>
    <string>ringhalfright.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.sc</key>
    <string>s.sc.glif</string>
    <key>s_t</key>
    <string>s_t.glif</string>
    <key>scaron</key>
    <string>scaron.glif</string>
    <key>schwa-cy</key>
    <string>schwa-cy.glif</string>
    <key>schwa.sc</key>
    <string>schwa.sc.glif</string>
    <key>second</key>
    <string>second.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>semisoftsign-cy</key>
    <string>semisoftsign-cy.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.dnom</key>
    <string>seven.dnom.glif</string>
    <key>seven.sinf</key>
    <string>seven.sinf.glif</string>
    <key>sha-cy</key>
    <string>sha-cy.glif</string>
    <key>sha-cy.loclBGR</key>
    <string>sha-cy.loclB_G_R_.glif</string>
    <key>shcha-cy</key>
    <string>shcha-cy.glif</string>
    <key>shcha-cy.loclBGR</key>
    <string>shcha-cy.loclB_G_R_.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.dnom</key>
    <string>six.dnom.glif</string>
    <key>six.sinf</key>
    <string>six.sinf.glif</string>
    <key>six.tf</key>
    <string>six.tf.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>softsign-cy</key>
    <string>softsign-cy.glif</string>
    <key>softsign-cy.loclBGR</key>
    <string>softsign-cy.loclB_G_R_.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.sc</key>
    <string>t.sc.glif</string>
    <key>tail-cy</key>
    <string>tail-cy.glif</string>
    <key>tail-cy.case</key>
    <string>tail-cy.case.glif</string>
    <key>tbar</key>
    <string>tbar.glif</string>
    <key>tbar.sc</key>
    <string>tbar.sc.glif</string>
    <key>te-cy</key>
    <string>te-cy.glif</string>
    <key>tenge</key>
    <string>tenge.glif</string>
    <key>tetse-cy</key>
    <string>tetse-cy.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>thorn.sc</key>
    <string>thorn.sc.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.dnom</key>
    <string>three.dnom.glif</string>
    <key>three.osf</key>
    <string>three.osf.glif</string>
    <key>three.sinf</key>
    <string>three.sinf.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tilde.i</key>
    <string>tilde.i.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>tildecomb_acutecomb</key>
    <string>tildecomb_acutecomb.glif</string>
    <key>tildecomb_acutecomb.case</key>
    <string>tildecomb_acutecomb.case.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>tse-cy</key>
    <string>tse-cy.glif</string>
    <key>tse-cy.loclBGR</key>
    <string>tse-cy.loclB_G_R_.glif</string>
    <key>tshe-cy</key>
    <string>tshe-cy.glif</string>
    <key>tugrik</key>
    <string>tugrik.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.dnom</key>
    <string>two.dnom.glif</string>
    <key>two.sinf</key>
    <string>two.sinf.glif</string>
    <key>two.subs</key>
    <string>two.subs.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u.sc</key>
    <string>u.sc.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>uhorn.sc</key>
    <string>uhorn.sc.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>upArrow</key>
    <string>upA_rrow.glif</string>
    <key>upDownArrow</key>
    <string>upD_ownA_rrow.glif</string>
    <key>upDownbaseArrow</key>
    <string>upD_ownbaseA_rrow.glif</string>
    <key>upWhiteTriangle</key>
    <string>upW_hiteT_riangle.glif</string>
    <key>ustrait-cy</key>
    <string>ustrait-cy.glif</string>
    <key>ustraitstroke-cy</key>
    <string>ustraitstroke-cy.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>v.sc</key>
    <string>v.sc.glif</string>
    <key>ve-cy</key>
    <string>ve-cy.glif</string>
    <key>ve-cy.loclBGR</key>
    <string>ve-cy.loclB_G_R_.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>w.sc</key>
    <string>w.sc.glif</string>
    <key>whiteDiamond</key>
    <string>whiteD_iamond.glif</string>
    <key>whiteSquare</key>
    <string>whiteS_quare.glif</string>
    <key>won</key>
    <string>won.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>x.sc</key>
    <string>x.sc.glif</string>
    <key>x.ss01</key>
    <string>x.ss01.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>y.sc</key>
    <string>y.sc.glif</string>
    <key>yat-cy</key>
    <string>yat-cy.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>yeru-cy</key>
    <string>yeru-cy.glif</string>
    <key>yi-cy</key>
    <string>yi-cy.glif</string>
    <key>yusbig-cy</key>
    <string>yusbig-cy.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>z.sc</key>
    <string>z.sc.glif</string>
    <key>ze-cy</key>
    <string>ze-cy.glif</string>
    <key>ze-cy.loclBGR</key>
    <string>ze-cy.loclB_G_R_.glif</string>
    <key>zedescender-cy</key>
    <string>zedescender-cy.glif</string>
    <key>zedescender-cy.loclBSH</key>
    <string>zedescender-cy.loclB_S_H_.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.dnom</key>
    <string>zero.dnom.glif</string>
    <key>zero.osf</key>
    <string>zero.osf.glif</string>
    <key>zero.sinf</key>
    <string>zero.sinf.glif</string>
    <key>zero.zero</key>
    <string>zero.zero.glif</string>
    <key>zhe-cy</key>
    <string>zhe-cy.glif</string>
    <key>zhe-cy.loclBGR</key>
    <string>zhe-cy.loclB_G_R_.glif</string>
    <key>zhedescender-cy</key>
    <string>zhedescender-cy.glif</string>
  </dict>
</plist>
