<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,1,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A9BAC288-DE6B-4F2A-B0A2-34B0B71EFF57</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eng.sc</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
