<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9A3ACDAF-7598-414C-82EB-3FB0A5FA17B9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.b</key>
      <integer>12</integer>
    </dict>
  </dict>
</plist>
