<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>018B8C6D-B735-416B-9D3C-6CC8702C4CA3</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.b</key>
      <integer>15</integer>
    </dict>
  </dict>
</plist>
