<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2B8AC345-DEEA-4D9C-81E3-32E488CAED33</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.c</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
