<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>79CD7B9C-DBF1-4CF4-AFED-48A2F1B94EBA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.t</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
