<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8E275293-A451-4097-9D2C-C2E7D4D33075</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.o</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
