<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3E9F28C4-9AC0-4A9A-8749-6F030EE5114B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.r</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
