<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7B68E8B2-DD66-4468-A957-F1BADAE99B39</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.p</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
