<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6F65C4F8-7755-4411-BA84-82E4DA306DB5</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.hookabovecomb.case</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
