<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E00D2D72-8388-4395-9A11-ECE7C5E48E65</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.a</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
