<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2558582E-099D-4C8A-84CC-6E1E2576CF60</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.J</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
