<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C6216E39-5E25-42DB-A0E0-9F38F29A47B0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.w</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
