<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>59D28671-F49B-4112-876B-5DE0450A5B10</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.c_h</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
