<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8B5B7441-34D1-42B5-A1F7-28DA9C064DC0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.o</key>
      <integer>14</integer>
    </dict>
  </dict>
</plist>
