<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Cheabkhasian-cy</key>
    <string>C_heabkhasian-cy.glif</string>
    <key>Schwa-cy</key>
    <string>S_chwa-cy.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>cheabkhasian-cy</key>
    <string>cheabkhasian-cy.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>ertick-cy</key>
    <string>ertick-cy.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>ogonekcomb.case.alt</key>
    <string>ogonekcomb.case.alt.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>schwa.sc</key>
    <string>schwa.sc.glif</string>
  </dict>
</plist>
