<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>71B8BF37-7EA1-46F2-A762-0F748BDBE38C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.p</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
