<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A1D8B25E-2A3C-4B62-9069-1F21F9ACD03C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.u</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
