<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>5906362F-F091-477D-8206-6CC70CC4C50C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.u</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
