<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8EDBBEBB-8E3D-46E7-BDFF-2CFC4586F87D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
