<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>882EFC34-B036-4894-B065-3EFE07B4F345</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.u</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
